body {
    background-color: #212426;
}
.search {
    height: 40px;
    width: 100%;
    margin-bottom: 40px;
    input {
        width: 400px;
        border: none;
        border-radius: 20px;
        padding: 20px;
        position: relative;
        outline: none;
    }
    img {
        position: relative;
        right: 50px;
        top: 5px;
    }
}

.movie {
    width: 300px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 0 auto;
}
.app {
    text-align: center;
    h1 {
        color: yellow;
    }
}
.test {
    background-color: red;
    height: 100px;
    width: 500px;
}
.container {
    display: grid;
    gap: 30px;
}